node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs/
*.log
logs/**/*.log

project.json
project.txt

.env

dist/
build/

jspm_packages/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

.npm/

coverage/

tmp/
temp/
*.log